<mat-card class="col container" appearance="outlined">
      <div class="header col-ctr">
        <div class="title">Send email to all verified users</div>
      </div>

      <div class="content"> 
        <div class="row-ctr form-container">
            <form [formGroup]="emailForm" class="col form">
                <div class="col-btw email-subject">
                    <label class="label" for="subject">Subject: </label>
                    <input class="input" id="subject" type="text" formControlName="subject">
                </div>
                <div class="col-btw email-body">
                    <label class="label" for="body">Body: </label>
                    <textarea class="input" id="body" type="text" formControlName="body"></textarea>
                </div>
            </form>
        </div>
      </div>

      <div class="footer">
        <button mat-button class="button" (click)="submit()">Send</button>
      </div>
    
</mat-card>
